{% load i18n %}
{% load thumbnail %}
{% load cache menu_tags %}
<!doctype html>
<head>
  <title> {% block title %} Home {% endblock title %} - Polychaetologists Association</title>
  {% block cms_head %}{% endblock cms_head %}
  {% block forum_head %}{% endblock forum_head %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/basic.css"> 
  <script src="{{ MEDIA_URL }}js/galleria/galleria-1.2.4.min.js"></script>
  <script src="{{ MEDIA_URL }}js/common.js"></script>  
  {% block extrastyle %}{% endblock extrastyle %}
</head>

<body>

<div id="tophead">
    <div id="searchbar">{% block search %}{% endblock search %}</div>
    <div id="sitelogo"><h1>Polycheatologists Association</h1></div>    
    <div id="topnav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/useful-links/">Useful Links</a></li>
        </ul>    
    </div>
</div>    
<div id="middlehead">
    <div id="middlenav">
        <ul>
            {% show_menu 0 100 100 100 %}
            <li><a href="{% url poly_assoc_website.views.members_list %}">Members</a></li>     
            <li><a href="{% url poly_assoc_website.views.publications %}">Publications</a></li>
            <li><a href="{% url poly_assoc_website.views.show_all_events %}">Meetings</a></li>
            <li><a href="{% url poly_assoc_website.views.photo_gallery %}">Photo gallery</a></li>
            
        </ul> 
    </div>  
    <div id="forumtopics"><h5>Active Forum Topics</h5></div>    
</div>
       
</div>
<div id="main">{% block main %}
    <div id="leftcol">
        <div id="usermenu">
            <div class="boxtitle"><h3>User Menu</h3></div>            
            {% if user.is_authenticated %}                                     
                    <ul>
                        <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a></li>
                        <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit profile details" %}</a></li>
                        <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
                        <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
                        <li><a href="/publications/{{ user.username }}/">{% trans "My Publications" %}</a></li>
                        <li><a href="admin/cms/page/add/?_popup=1" class="addlink">{% trans "My News/Notes" %}</a></li>
                        <li><a href="/event/add/">{% trans "Annouce an event" %}</a></li>                        
                        <li><a href="{% url poly_assoc_website.views.new_useful_link %}">{% trans "Add new link" %}</a></li>
                        
                        <li><a href="{% url poly_assoc_website.views.signout %}"> Logout </a></li>                      
                    </ul>                                             
            {% else %}
            {% block user_content %}            
                <ul>
                    <li><a href="{% url userena.views.signin %}">Sign In!</a> or</li>
                    <li><a href="{% url userena.views.signup %}">Sign up a new account!</a></li>
                  
                </ul>
            {% endblock user_content %}                         
            {% endif %}
                       
        </div>
        <div id="latestlinks"><div class="boxtitle"><h2>Useful Links</h2></div>       
            {% for link in latest_links %}
            <div id="lastlink">
                <p>{{ link.description }}</p> 
                <p class='link_url'><a href="{{ link.url }}">{{ link.url }}</a></p>
                <p class='posted_by'>Posted by {{ link.posted_by }} at {{ link.datetime }}               
                <p>-------------------------------------------------------------</p>
            </div>
                {% endfor %}
            <p class="links_foot">Showing 7 links from a total of <a href="{% url poly_assoc_website.views.useful_links %}">{{ total_links }} links</a>. </p>
       
        </div>  
    </div>
    <div id ="rightcol">
        <div id="events">
            <div class="boxtitle"><h2> Upcoming Events </h2></div>
            {% if latest_events %}
                {% for event in latest_events %}
                
                <div id="event">
                <p class='event_type'>{{ event.event_type }}
                <p class='event_title'><a href="/event/?event_id={{event.id}}">{{ event.title }}</a></p>
                <p class='event_info'>will happend at {{ event.event_datetime }}<br>
                Event site: <a href="{{ event.url }}">{{ event.url }}</a></p>                
                <p class="posted_by">Posted by: {{ event.posted_by }} at {{ event.pub_datetime }}</p>              
                <p>-------------------------------------------------------------</p>
                </div>
            {% endfor %}
            {% else %}
                <p>There is no event on the board. Please, <a href="{% url poly_assoc_website.views.add_event %}">anounce an event.</a></p>
            {% endif %}
        </div>
        <div id="gallery">
        <div class="boxtitle"><h2> Photo Gallery </h2></div>
            {% if latest_photos %}
                {% for photo in latest_photos %}            
                <div id="photo">
                    <a href="/photos/{{ photo.name }}/"><img src="{% thumbnail photo.image 100x100 %}" alt="{{ photo.description }}"></a>
                    <p class="posted_by"> Posted by {{ photo.uploaded_by }}. </p>                
                </div>
                {% endfor %}
            {% else %}
                <p>No Photo was uploaded yet! <br> Upload a photo </p>
            {% endif %}
        </div>  
    </div>
    <div id="content">{% block content %}{% block cms_content %}
    Content
    {% endblock cms_content %}{% endblock content %}
    </div>
    
{% endblock main %}</div>
<div id ="footer"> Page footer. </div>




</body>
</html>
