{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ object.get_full_name_or_username }}{% endblock title %}

{% block content %}

<div id="member_profile">

<h2>{{ profile.get_full_name_or_username }}</h3>
<div id="details">
    <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
    {% if user.is_authenticated %}{% if profile.user.email %}
    <p><strong>{% trans "Email" %}</strong><br />{{ profile.user.email }}</p>
    {% endif %}{% endif %}
    {% if profile.work_location %}
    <p><strong>{% trans "Work Location" %}</strong><br /> {{ profile.work_location }}</p>
    {% endif %}
    {% if profile.institution %}
    <p><strong>{% trans "Institution" %}</strong><br /> {{ profile.institution }}</p>
    {% endif %}
    {% if profile.homepage_url %}
    <p><strong>{% trans "Homepage" %}</strong><br /> <a href="{{ profile.homepage_url }}">{{ profile.homepage_url }}</a></p>
    {% endif %}
    {% if profile.curriculum_url %}
    <p><strong>{% trans "Curriculum" %}</strong><br /> <a href="{{ profile.curriculum_url }}">{{ profile.curriculum_url }}</a></p>
    {% endif %}
    {% if profile.about_me %}
    <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
    {% endif %}
  </div>	

</div>
{% endblock content %}
