{% extends "base.html" %}
{% block title %}Association Members{% endblock title %}

{% block content %}
<h2>Association Members</h2>

<table id="members_table" width=100%>

  {% for member in object_list %}
    {% if member.get_privacy_display != "Closed" %}
    <tr class="member_row">
      <td width=50%><b>*</b> <a href="{{ member.get_absolute_url }}">{{ member.get_full_name_or_username }}</a></td>
      <td width=50%>{% if member.work_location %}{{ member.work_location }}{% endif %}</td>
    </tr>
    {% endif %}

  {% endfor %}

</table>

</div>


{% endblock content %}
