{% extends "base.html" %}
{% block title %}Association Members{% endblock title %}

{% block content %}
<h2>Association Members</h2>

<div id="members_table">
<table cellpadding="1" cellspacing="1">
{% for member in object_list %}
    {% if member.research_area != '' %}
    <tr class="member_row">
      <td class='member_name'><strong>» </strong><a href="/accounts/{{member.user.username}}/">{{ member.get_full_name_or_username }}</a></td>
      <td class='member_infos'><strong>Research area: </strong>{{ member.research_area }}<br>
      <strong>Work institution:</strong> {{ member.institution }}<br>
      <strong>Work place:</strong> {{ member.work_location }}<br>
      {% if member.homepage_url %}<td><strong>- Homepage:</strong> <a href="{{ member.homepage_url }}">{{ member.homepage_url }}</a></td>{%endif%}
      {% if member.curriculum_url %}<td height="20"><strong>- CV: </strong> <a href="{{ member.curriculum_url }}">click here </a></td>{%endif%}
      <td height="25"></td>
    </tr>
    <tr></tr>
    {% endif %}
{% endfor %}


</table>

</div>


{% endblock content %}
