{% extends "base.html" %}

{% block title %} Members Association Publications{% endblock title %}}

{% block content %}
    <div id="publications">
        <h2>Members Association Publications</h2>
        {% if user.is_authenticated %}<div id="add_publication"><a href="{% url add_publication %}"> Share a publication! </a></div>{% endif %}
        {% if object_list %}
        {% for pub in object_list %}
        <div class="publication">
            <p>{{ pub.author }}{% if pub.others_authors %} et al{% endif %}.  {{  pub.publish_date.year }}. <strong>{{ pub.title }}</strong>. {{pub.publisher}}. {% if pub.url %}URL link: <a href="{{ pub.url }}">{{ pub.url }}</a>{% endif %} </p>
            <p class="pub_info">Posted by {{ pub.posted_by }} at {{ pub.pub_datetime }}. <a href="{% url publication_detail pub.id %}">More</a>.<br>
            <input type="button" class="toggle_link" value="Show/Hide Abstract"></p>
            <div class="toggle"></div> 
            <div class="abstract" ><p style="display:none">Abstract: {{ pub.abstract }}</p></div>                
        </div>
        {% endfor %}{% endif %}
    </div>
{% endblock content %}
