{% extends "base.html" %}
{% load i18n %}
{% block title %} Add new Publication{% endblock title %}}

{% block content %}
<h2>Add new publication</h2>
{% if form.error %}

<p class='error'>Form did not validate. Check data format.</p>

{% endif %}

{% if form %}
    {% comment %}{% if not profile.research_area or not profile.user.first_name or not profile.user.last_name or not profile.about_me %}
    <p> It seems that you have not finished to edit your user profile.<br>
    Please consider to "<a href="{% url userena_profile_edit user.username %}">{% trans "Edit your details" %} </a>."</p>
    {% else %}{% endcomment %}
    <div id="pub_add" class="form">
    <form method="POST" action="">{% csrf_token %}
        {% for field in form %}
            {% if field.label_tag != form.posted_by.label_tag %}
            <div class='formrow'>
                <p class="{{ field.css_classes }}">  {{ field.label_tag }}: {{ field }} </p>
                {% if field.errors %}<p class="{{ form.error_css_class }}"> {{ field.errors }}</p>{%endif%}
            <p class="help_text">{{ field.help_text }}</p><br></div>

            {% endif %}
        {% endfor %}
        <p>{{ form.posted_by.label_tag }}: <input class="posted_by" type="hidden" name="posted_by" value="{{ user.id }}"> {{ user.username }} </p>
    <input type="submit" value="Save Publication">
    </form>
    </div>
<script>
$("#publish_date").datepicker();
</script>
    
{% endif %}



{% endblock content %}
