{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}


<div class="white-box">
  
  {% block content %}
  {% comment %}
  Dirty hack. Will use django-guardian in the future.
  {% if user.username == profile.user.username %}
  <ul id="box-nav">
    <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a></li>
    <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a></li>
    <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a></li>
    <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a></li>
  </ul>
  {% endif %}
{% endcomment %}
  <div id="details">
    <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
    {% if profile.user.get_full_name %}
    <h2>{{ profile.user.get_full_name }}</h2>
    {% endif %}
    {% if user.email %}
    <p><strong>{% trans "Email" %}</strong><br />{{ user.email }}</p>
    {% endif %}

    {% if profile.research_area %}
    <p><strong>{% trans "Research area" %}</strong><br /> {{ profile.research_area }}</p>
    {% endif %}

    {% if profile.institution %}
    <p><strong>{% trans "Institution" %}</strong><br /> {{ profile.institution }}</p>
    {% endif %}

    {% if profile.work_location %}
    <p><strong>{% trans "Work location" %}</strong><br /> {{ profile.work_location }}</p>
    {% endif %}
    {% if profile.homepage_url %}
    <p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.homepage_url }}">{{ profile.homepage_url }}</a></p>
    {% endif %}
    {% if profile.curriculum_url %}
    <p><strong>{% trans "Location" %}</strong><br />{{ profile.curriculum_url }}</p>
    {% endif %}
    {% if profile.about_me %}
    <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
